
<section>
    <div class="contenedor-titulo">
        <h1>Un bosque encantado</h1>
    </div>
    <div class="contenedor-imagenes">
        <article>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZlM_0Qo02uztbTvMYPElyiWCuvZCZxNmmFJMqzxBcsLIXY7CpYxCew4zmm_GyjZuIuww&usqp=CAU" alt="bosque_encantado">
        </article>
        <article>
            <img src="../../../assets/img/bosque_encantado2.png" alt="bosque_encantado2">
        </article>
    </div>
    <div class="contenedor-parrafo">
        <p>Imagenes de un cuento con bosques encantados, en donde los animales vivian felices. Doloribus in molestiae non similique incidunt odio quia ea suscipit amet sint quam, porro dolores quae repellendus?
        Reprehenderit natus sit debitis similique libero <span>officia, sed suscipit, aperiam vero</span> laborum iste labore nam! Cum, odit? Doloribus et maxime inventore tempora, perspiciatis reiciendis, mollitia quas facere, architecto voluptatibus quasi!
        Doloribus ea officia odit <span>voluptatibus architecto aliquam</span>incidunt impedit at corrupti molestiae voluptates corporis laudantium magni deleniti soluta perspiciatis quasi, amet nostrum reprehenderit. Tempore deserunt rem fugiat eius repellendus natus?</p>
    </div>
</section>
