<section>
    <div class="contenedor-tabla">
        <table border="1" style="border: 1px solid yellow;">
            <thead style="background-color: blueviolet; font-size: 1.5em; color: coral;">
                <!-- Cabeceras -->
                <tr>
                    <th>Nombre y Apellido</th>
                    <th>Edad</th>
                    <th>Nacimiento</th>
                    <th>Sexo</th>
                    <th>Fumador</th>
                </tr>
            </thead>
            <tbody>
                <!-- Celdas -->
                <tr class="row">
                    <td>Alcides Goia</td>
                    <td>54</td>
                    <td>18/03/1970</td>
                    <td>Masculino</td>
                    <td>Si</td>
                </tr>
                <tr class="row">
                    <td>Alicia Noemí Robles</td>
                    <td>60</td>
                    <td>03/05/1964</td>
                    <td>Femenino</td>
                    <td>No</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>